.navbar-unigranrio{
	font-size:2rem;
	cursor: pointer;
	padding:1rem;
	z-index: 10;
  border-bottom: 0px;
  background-color: rgba(255,255,255,1);
	color: rgba(9,91,166,1);
	font-family:  "lato", "arial";
	font-weight: bolder;
	border-radius: 0px;

}
.navbar{
	margin-bottom: -1.2rem;
}
.ico{
	padding:15px;
	border: 0px;
  margin-right: 0px;
}

.ico:hover, .ico:active, .ico:focus{
	background-color:transparent ;
}

.traco{
	background-color:#305fa3;
	width:1.9rem;
	height:0.2rem ;
}

.texto-menu a{
  transition: 0.5s;
	font-size:1.8rem;
  background-color: transparent;
  color: transparent;
	margin-top:2rem;
}

.login{
  padding: 5px 10px;
  background-color: #11b9df;
  border-radius: 60px;
  margin-top: 10px;
  display: inline-block;
  width: 150px;;
  text-align: center;
  color:#fff;
}
.login:hover{
  text-decoration: none;
  color:#fc0;
}
