.navbar-rodape{
  background-color: #305fa3;
	padding:2rem;
	color: #fff;
}
.navbar-rodape a{
	color: #fff;
}

.img-rodape{
	position:relative;
	margin-top:14rem;
	margin-bottom:11rem;
	max-width:250px;
}

.icon{
	position:relative;
	margin-top:25%;
	margin-bottom:25%;
	margin-left:10%;
	cursor:pointer;
}

.navbar-rodape2{
	background-color: #3a3a3a;
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem;
}
.navbar-rodape2 a{
    color: #fff;
}

.redes a{
	text-decoration:none;
}
.n{
	overflow:hidden;
}
.links{
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 6rem;
}

.ti{
  margin-bottom: 50px;
}

.ti img{
	margin-top: 7rem;
}
.listaRodape{
 margin-bottom: 0px;
}
