@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../img/fundo.jpg) no-repeat fixed;
	background-size: cover;
	background-position: center;
	font-size: 18px;
	font-family: "Arial";
	word-wrap: break-word;
}
html {
	height: 100%;
}
.chamadas {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 30%;
	background-color: transparent;
}
.fundoAzul {
	background: #0A2637;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}
.chamadas {
	position: absolute;
}
.cemporcento {
	height: 100%
}
.quebralinha {
	display: block !important;
}
.logo {
	background: url(../img/logo.png) no-repeat center;
	background-size: 90%;
	height: 70px;
	text-indent: -100%;
}
.cadastro {
	padding: 30px;
	color: #fff;
}
.filtro {
	background-color: rgba(100, 100, 100, 0.6);
}
.blog td {
	border-top: 0px solid #ddd !important;
	padding: 8px 4px !important;
}
.blog table {
	margin: 0px -4px 0px -4px !important;
}
a {
	color: #305fa3;
	cursor: pointer;
}
a:hover {
	color: #eea236;
}
.fechar, .login2, .buscar {
	margin: 15px 5px;
	padding: 5px;
	width: 35px;
	height: 35px;
	background-color: transparent;
	border: 2px solid #0059A9;
	color: #0059A9;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

@media (max-width: 768px) {
.branco {
	background-color: #fff;
	padding: 10px 0;
}
}
/*Buscar*/
.buscarVagas {
	margin-top: 35%;
}
.arredondado {
	border-radius: 60px !important;
}
.busca {
	background-color: rgba(255, 255, 255, 0.2);
	border: 3px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 30px;
	padding: 2.5rem;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}
 input[type="text"].busca::-webkit-input-placeholder {
 color: #fff;
}
.btn-buscar {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 2rem;
}
.btn-seta {
	transition: 0.5s;
}
.planejar {
	padding: 15px;
	padding-left: 50px;
	color: #fff;
	font-size: 4.5rem;
	font-weight: bolder;
	text-transform: uppercase;
	background: rgba(0, 79, 159, 0.7);	
	text-align: center;
}
@media (min-width: 1200px) {
	.caption2 {
		text-align: left;	
	}
}
.tonextbtn {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-top: 10px;
	margin-bottom: 50px;
	cursor: pointer;
	display: inline-block;
	width: 100px;
	height: 100px;
	text-align: center;
}
.tonextbtn div {
	font-size: 48px;
	line-height: 74px;
	color: rgba(255, 255, 255, 0.5);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}
/*Testemunho*/
.margemfinal {
	padding-bottom: 15px;
}
.margemMini {
	margin: 0px;
	padding: 0.3rem;
}
.tag1 {
	margin-right: 0px;
	margin-left: 0px;
	background-color: #fff;
}
.tag {
	width: 100%;
	height: 100%;
	background-image: url('../img/tag1.jpg');
	background-position: center;
	background-size: cover;
}
.tamarelo {
	color: #f0ad4e;
}
.pelicula {
	width: 100%;
	height: 100%;
	background-color: rgba(45, 60, 79, 0.5);
	color: #fff;
	padding: 0.5rem;
	padding-top: 20%;
}
.testemunho {
	background-color: #fff;
	padding-top: 0.3rem;
	color: #333;
}
.esp {
	margin-top: 3rem;
}
.setaTestemunho {
	font-size: 5rem;
	color: #6699cc;
	cursor: pointer;
	transition: 0.5s;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.setaTestemunho:hover {
	transition: 0.5s;
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	font-size: 5.4rem;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.nomeAluno {
	color: #c2c2c2;
}
.imgTestemunho {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin-right: -15px;
}
.thumbnail {
	border: 0px;
}
.testemunho2 img {
	border-bottom: solid 5px #ffc900;
}
.caption2 {
	width: 100%;
	position: absolute;
	margin-top: -50%;
	color: #ffffff !important;
	text-align: center;
}

@media (min-width: 1200px) {
.caption2 {
	text-align: left;
	margin-top: -40%;
}
}
.col-s {
	padding: 0px;
	transition: 0.5s;
}
.escuro {
	background-color: rgba(255, 255, 255, 0.5);
}
/*cadastro*/
.cadastro input {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
	margin: 1rem auto;
	border: 0px;
	padding: 5px;
	text-align: center;
}
.cadastrar {
	width: 100%;
	margin: 5px auto;
	font-weight: bolder;
	font-size: 1.3em;
}
/*vagas*/
.vagas {
	background-color: #fff;
	font-family: "Lato", "Arial";
	padding: 3rem 0rem;
}
.vaga {
	width: 100%;
	height: 100%;
	margin: 1rem 0rem;
}
figure {
	transition: 0.5s;
}
.vaga figure:hover {
	transition: 0.5s;
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	z-index: 1000;
	-webkit-box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
	-moz-box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
	box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
}
.vaga figcaption {
	background-color: #17548b;
	color: #fff;
	padding: 1rem;
	font-size: 1.5rem;
}
.vagas a {
	color: #305fa3;
	/*overflow: hidden;*/
	text-decoration: none;
	text-align: center;
	font-weight: bolder;
	font-size: 2rem;
	font-family: "Lato", "Arial";
}
.embed-responsive {
	margin-bottom: 2rem;
}
.thumbnail {
	background: transparent;
}
/*oportunidade*/

.oportunidade {
	color: #fff;
	padding: 5rem;
}
.tazul {
	color: #6699cc;
	font-weight: bolder;
	font-size: 2rem;
}

@media (max-width: 970px) {
.oportunidade {
	text-align: center;
}
}
/*blog*/
.blog {
	background-color: #f5f5f5;/*color: #305fa3;
	cursor: default;*/
	/*overflow: hidden;*/

}
.hr-amarelo, .hr-amarelo-blog {
	color: #fec901;
	background-color: #fec901;
	height: 10px;
	width: 50px;
	border-radius: 10px;
	margin-top: 10px;
}
.hr-amarelo-blog {
	margin-left: 0%;
}
.pointer {
	cursor: pointer;
}
/*Outros*/

.center {
	margin: 0px auto;
}
.txtUni {
	color: #305fa3;
	margin-bottom: 1em;
	padding-left: 10px;
	border: solid 5px transparent;
	border-left-color: #ffc900;
	font-family: "Montserrat", "Arial";
	font-weight: bolder;
}
.txtUni2 {
	color: #d3ddf2;
	padding-left: 10px;
	font-family: "Montserrat", "Arial";
	font-weight: bolder;
}
blockquote {
	font-size: 16px;
}
.zoom {
	transition: 0.5s;
}
.zoom:hover {
	transition: 0.5s;
	-ms-transform: scale(1.03, 1.03);
	/* IE 9 */
	-webkit-transform: scale(1.03, 1.03);
	/* Safari */
	transform: scale(1.03, 1.03);
}
.zoom a {
	text-decoration: none;
}
.zoom .thumbnail {
	margin-bottom: 30px;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}
.linha {
	background-color: #ffc900;
	width: 30px;
	height: 5px;
	border-radius: 100px;
	font-size: 12px;
}
.tazul2 {
	color: #6699cc;
	font-weight: bolder;
	font-size: 1.5rem;
}
.fundoPreto {
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(142, 142, 142, 0.8);
	display: none;
	overflow: hidden;
}
.onclick {
	background-color: rgba(255, 212, 212, 0.3);
	border: solid 1px rgba(171,171,171,1);
	padding: 25px;
	margin-bottom: 20px;
}
fechar {
	float: right;
	margin: -25px;
	background-color: rgba(255, 76, 76, 1);
	padding: 10px 20px;
	color: #fff;
	cursor: pointer;
	border-radius: 0px 0px 0px 25px;
}
.centralizado {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
