@charset "utf-8";
/* CSS Document */

* html { width: 100%; height: 100%; } /* Funcionar no IE */

html, body {
  font-size: 100%; font-family: "Futura Bk BT", "FuturaBlack BT", "Josefin Sans", arial; width: 100%; height: 100%;
}

#tempo {
  position: absolute; top: 2%;
  z-index: 1000;
  min-width: 70%; width: 50%; height: auto; padding: 3% 4%;
  float: right;
  font-size: 1em; font-weight: 600;
  border-radius: 0 0.2em 0.2em 0; -moz-border-radius: 0 0.2em 0.2em 0; -webkit-border-radius: 0 0.2em 0.2em 0;
}

header {
  margin: 0; padding: 0;  
  overflow: hidden;
  background: url(../img/capa.jpg) fixed no-repeat center;
  background-size: cover;
  min-height: 100%; height: auto;
}

header h2 {
  font-size: 2.5em; color: #FFF; font-weight: 700; line-height: 1.3em;
  position: relative;
  padding: 30% 4% 4% 4%; text-align: center;
  text-shadow: 1px 2px 8px #333; -moz-text-shadow: 1px 2px 8px #333; -webkit-text-shadow: 1px 2px 8px #333;
}

header h3 {
  font-size: 1.5em; color: #FFF;
  position: relative;
  padding: 30% 4% 1.6%; text-align: center;
}

.telaExemplo {
  margin: 0; padding: 0 3%;
  min-height: 100%; height: auto;
  overflow: hidden;
}

.tela { padding: 0.5%% 4%; min-height: 100%; height: auto; overflow: hidden;}

.tituloTela { font-size: 1.8em; font-weight: 700; line-height: 1.25em; padding: 0 4% 0 4%; }

.tela p { padding: 0 5%; }

.tela li, .telaExemplo li { font-size: 1.4em; line-height: 3.15em; cursor: pointer; }

.tela ul, .telaExemplo ul { padding: 0 16%; }

.resultProdutor, .resultAdm, .resultInteg, .resultEmp {
  min-width: 100%; width: auto; height: auto;
  font-size: 1em;
}
.ativado{  opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */ }
.titulo2 { font-size: 2.5em; padding: 1% 2%; }

.produtor p, .adm p, .integ p, .emp p { padding:2% 6%; padding-top: 0; }

.ulResult { font-size: 1em; }

.produtor h3, .adm h3, .integ h3, .emp h3 { padding:1% 4%; }

.produtor, .adm, .integ, .emp, .tela { display: none; }
.aviso3{ display:none;cursor:pointer;}
.aviso, .aviso2, .aviso3 { font-weight:700; display:none; height:auto; padding: 3%; position:absolute; top:37%; min-width:94% }

.aviso2 { min-width: 100%; width: auto; height: auto; position:absolute; top:35%; }


/******* Smartphone *********/
@media screen and (min-width: 480px) {
	
#tempo {
  position: absolute; top: 4%;
  z-index: 1000;
  min-width: 40%; width: 60%; height: auto; padding: 3% 4%;
  float: right;
  font-size: 1.3em; font-weight: 600;
  border-radius: 0 0.2em 0.2em 0; -moz-border-radius: 0 0.2em 0.2em 0; -webkit-border-radius: 0 0.2em 0.2em 0;
}

header {
  margin: 0; padding: 0;  
  overflow: hidden;
  background: url(../img/capa.jpg) fixed no-repeat center;
  background-size: cover;
}

header h2 {
  font-size: 3.5em; color: #FFF; font-weight: 700; line-height: 1.3em;
  position: relative;
  padding: 30% 4% 4% 4%; text-align: center;
  text-shadow: 1px 2px 8px #333; -moz-text-shadow: 1px 2px 8px #333; -webkit-text-shadow: 1px 2px 8px #333;
}

header h3 {
  font-size: 2em; color: #FFF;
  position: relative;
  padding: 52% 4% 1.6%; text-align: center;
}

.telaExemplo {
  margin: 0; padding: 0 3%;
  min-height: 100%; height: auto;
  overflow: hidden;
}

.tituloTela { font-size: 2.2em; font-weight: 700; line-height: 1.25em; padding: 0 4% 0 4%; }
	
.tela li, .telaExemplo li { font-size: 2em; line-height: 3.15em; cursor: pointer; }

.aviso { font-weight:700; display:none; height:auto; padding: 5% 0; min-width: 100%; position:absolute; top:38%; font-size: 1.4em; line-height: 1.5em }

.produtor, .adm, .integ, .emp { margin: 0; padding: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; overflow: hidden; position:absolute; }

.titulo2 { padding: 1% 4% }
	
.ulResult { margin-left: 5%; }	

.aviso2 { width: auto; height: auto; position:absolute; top:40%; }
		
}

/************************** Tablets *****************************/

/******* Smartphone Menores *********/
@media screen and (min-width: 768px) {
	
#tempo {
  position: absolute; top: 4%;
  z-index: 1000;
  min-width: 40%; width: 60%; height: auto; padding: 4% 5%;
  float: right;
  font-size: 1.7em; font-weight: 600; line-height: 1.7em;
  border-radius: 0 0.2em 0.2em 0; -moz-border-radius: 0 0.2em 0.2em 0; -webkit-border-radius: 0 0.2em 0.2em 0;
}

header {
  margin: 0; padding: 0;  
  overflow: hidden;
  background: url(../img/capa.jpg) fixed no-repeat center;
  background-size: cover;
}

header h2 {
  font-size: 4.5em; color: #FFF; font-weight: 700; line-height: 1.3em;
  position: relative;
  padding: 30% 4% 4% 4%; text-align: center;
  text-shadow: 1px 2px 8px #333; -moz-text-shadow: 1px 2px 8px #333; -webkit-text-shadow: 1px 2px 8px #333;
}

header h3 {
  font-size: 2.5em; color: #FFF;
  position: relative;
  padding: 34% 4% 1.6%; text-align: center;
}

.tituloTela { font-size: 2.8em; font-weight: 700; line-height: 1.6em; padding: 0 4% 0 12%; }
	
.tela li, .telaExemplo li { font-size: 2.4em; line-height: 3.15em; cursor: pointer; }

.aviso { font-weight:700; display:none; height:auto; padding: 5% 0; min-width: 100%; position:absolute; top:37%; font-size: 2em; line-height: 1.6em }

.produtor, .adm, .integ, .emp { margin: 0; padding: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; overflow: hidden; position:absolute; }

.titulo2 { padding: 1% 4%; font-size: 4.5em; }

.produtor p, .adm p, .integ p, .emp p { font-size: 1.5em; line-height: 1.6em; }
	
.ulResult { margin-left: 6%; font-size: 1.5em; line-height: 1.5em; }	

.produtor h3, .adm h3, .integ h3, .emp h3 { font-size: 2em; }

.aviso2 { min-width: 100%; width: auto; height: auto; position:absolute; top:42%; }
		
}

/************************** Mediuns Devices - Tablets & Desktops *****************************/

@media screen and (min-width: 960px) {
	
	#tempo {
	  position: absolute; top: 4%;
	  z-index: 1000;
	  min-width: 40%; width: 70%; height: auto; padding: 1% 1.5%;
	  float: right;
	  font-size: 1.7em; font-weight: 600; line-height: 1.7em;
	  border-radius: 0 0.2em 0.2em 0; -moz-border-radius: 0 0.2em 0.2em 0; -webkit-border-radius: 0 0.2em 0.2em 0;
	}
	
	.aviso { font-weight:700; display:none; height:auto; padding: 5% 0; min-width: 100%; position:absolute; top:30%; font-size: 2em; line-height: 1.6em }
	
	.aviso2 { min-width: 100%; width: auto; height: auto; position:absolute; top:42%; padding: 3% 0%; font-size: 1.6em }
		
}

/************************** Large Devices - Desktops *****************************/

@media screen and (min-width: 1280px) {
	
	#tempo {
	  position: absolute; top: 4%;
	  z-index: 1000;
	  min-width: 40%; width: 70%; height: auto; padding: 1% 1.5%;
	  float: right;
	  font-size: 1.7em; font-weight: 600; line-height: 1.7em;
	  border-radius: 0 0.2em 0.2em 0; -moz-border-radius: 0 0.2em 0.2em 0; -webkit-border-radius: 0 0.2em 0.2em 0;
	}
	
	header h2 {
	  font-size: 4em; color: #FFF; font-weight: 700; line-height: 1.3em;
	  position: relative;
	  padding: 30% 4% 1% 4%; text-align: center;
	  text-shadow: 1px 2px 8px #333; -moz-text-shadow: 1px 2px 8px #333; -webkit-text-shadow: 1px 2px 8px #333;
	}
	
	header h3 {
	  font-size: 2.5em; color: #FFF;
	  position: relative;
	  padding: 9% 4% 1.6%; text-align: center;
	}
	
	.aviso { font-weight:700; display:none; height:auto; padding: 5% 0; min-width: 100%; position:absolute; top:35%; font-size: 2em; line-height: 1.6em }
	
	.aviso2 { min-width: 100%; width: auto; height: auto; position:absolute; top:42%; padding: 3% 0%; font-size: 1.6em }
		
}

@media screen and (min-width: 1600px) {
	
	header {
	  margin: 0; padding: 0;  
	  overflow: hidden;
	  background: url(../img/capa.jpg) fixed no-repeat center center;
	  background-size: cover;
	  min-height: 100%; height: auto;
	}
	
	header h2 {
	  font-size: 4em; color: #FFF; font-weight: 700; line-height: 1.3em;
	  position: relative;
	  padding: 15% 4% 1% 4%; text-align: center;
	  text-shadow: 1px 2px 8px #333; -moz-text-shadow: 1px 2px 8px #333; -webkit-text-shadow: 1px 2px 8px #333;
	}
	
	header h3 {
	  font-size: 2.5em; color: #FFF;
	  position: relative;
	  padding: 14% 4% 1.6%; text-align: center;
	}
	
	.aviso { font-weight:700; display:none; height:auto; padding: 5% 0; min-width: 100%; position:absolute; top:20%; font-size: 2em; line-height: 1.6em }
	
	.aviso2 { min-width: 100%; width: auto; height: auto; position:absolute; top:42%; padding: 3% 0%; font-size: 1.6em }
	
}

	






















