@charset-"utf-8";
/*

######################################################################
## 														 			##
##		************** Bem vindo ao Pandora **************			##
##																	##
##"A vinganca nunca e plena mata a alma e a envenena" - Seu Madruga	##
##																	##
######################################################################
##																	##
##			********** VERSÃO ATUAL v1.0 **************				##
##																	##
######################################################################
##																	##
## ****************** HISTÓRICO DE MODIFICAÇÕES ******************* ##
## *Criação: DIA:29/10/2015-Felipe Antunes.							##
## *Animation: DIA:26/10/2015-Leandro Sanches.						##
## *Template: DIA:19/02/2016-Erlan Silva.							##
## *Box e Botões: DIA:19/02/2016-Erlan Silva.						##
## *Nova Paleta de Cores: DIA:19/02/2016-Erlan Silva.				##
## *Criação de Referência: DIA:26/02/2016-Leandro Sanches.			##
## *Margin, Positions e Desafio: DIA:15/03/2016-Leandro Sanches.	##
## *Vídeo e Centralizado Vertical: DIA:31/03/2016-Leandro Sanches.	##
## *Titulo_referencia, Bug, Video: DIA:20/04/2016-Leandro Sanches.	##
##																	##
######################################################################
##																	##
## 		RESPONSÁVEL PELA MANUTENÇÃO E DISTRIBUIÇÃO DO PANDORA: 	  	##
##						Leandro Sanches								##
##																	##
######################################################################
##   																##
## CRÉDITOS PARA EQUIPE PARTICIPANTE DO PROJETO:					##
##																	##
##	Erlan Silva														##
##	Felipe Antunes													##
##	Leandro Sanches													##
##	Leonardo Dessandes												##
##	Lucas Trindade													##
##	Vinicius Paixão													##
##																	##
######################################################################

*/

/*INICIALIZAÇÃO*/
html, body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}
/*ESTILIZAÇÃO*/

/* Backgrounds Unigranrio - Nova Paleta de Cores */
.bg-azul-jeferson { background-color:#3b839b; }

.bg-unigranrio-azul {
	background-color: #3b5387;
}
.bg-unigranrio-azul-turquesa {
	background-color: #336E7B;
important
}
.bg-unigranrio-azul-claro {
	background-color: #008bb6;
}
.bg-unigranrio-azul-claro2 {
	background-color: #b3d0e9;
}
.bg-unigranrio-verde {
	background-color: #27ae60;
}
.bg-unigranrio-laranja {
	background-color: #e67e22;
}
.bg-unigranrio-vermelho {
	background-color: #e74c3c;
}
.bg-unigranrio-turquesa {
	background-color: #1abc9c;
}
.bg-unigranrio-verde-escuro {
	background-color: #16a085;
}
.bg-unigranrio-laranja-fechado {
	background-color: #d35400;
}
.bg-unigranrio-magenta {
	background-color: #F62459;
}
.bg-unigranrio-lilas {
	background-color: #8e44ad;
}
.bg-unigranrio-cinza-flat {
	background-color: #ecf0f1;
}
.bg-unigranrio-amarelo {
	background-color: #f1c40f;
}
/*rosas*/
.bg-rosa-leve-1 {
	background-color: #fce4ec
}
.bg-rosa-leve-2 {
	background-color: #f8bbd0
}
.bg-rosa-leve-3 {
	background-color: #f48fb1
}
.bg-rosa-leve-4 {
	background-color: #f06292
}
.bg-rosa-leve-5 {
	background-color: #ec407a
}
.bg-rosa {
	background-color: #e91e63
}
.bg-rosa-pesado-1 {
	background-color: #d81b60
}
.bg-rosa-pesado-2 {
	background-color: #c2185b
}
.bg-rosa-pesado-3 {
	background-color: #ad1457
}
.bg-rosa-pesado-4 {
	background-color: #880e4f
}
.bg-rosa-flat-1 {
	background-color: #ff80ab
}
.bg-rosa-flat-2 {
	background-color: #ff4081
}
.bg-rosa-flat-3 {
	background-color: #f50057
}
.bg-rosa-flat-4 {
	background-color: #c51162
}
/*índigo*/

.bg-indigo-leve-1 {
	background-color: #e8eaf6
}
.bg-indigo-leve-2 {
	background-color: #c5cae9
}
.bg-indigo-leve-3 {
	background-color: #9fa8da
}
.bg-indigo-leve-4 {
	background-color: #7986cb
}
.bg-indigo-leve-5 {
	background-color: #5c6bc0
}
.bg-indigo {
	background-color: #3f51b5
}
.bg-indigo-pesado-1 {
	background-color: #3949ab
}
.bg-indigo-pesado-2 {
	background-color: #303f9f
}
.bg-indigo-pesado-3 {
	background-color: #283593
}
.bg-indigo-pesado-4 {
	background-color: #1a237e
}
.bg-indigo-flat-1 {
	background-color: #8c9eff
}
.bg-indigo-flat-2 {
	background-color: #536dfe
}
.bg-indigo-flat-3 {
	background-color: #3d5afe
}
.bg-indigo-flat-4 {
	background-color: #304ffe
}
/*ciano*/

.bg-ciano-leve-1 {
	background-color: #e0f7fa
}
.bg-ciano-leve-2 {
	background-color: #b2ebf2
}
.bg-ciano-leve-3 {
	background-color: #80deea
}
.bg-ciano-leve-4 {
	background-color: #4dd0e1
}
.bg-ciano-leve-5 {
	background-color: #26c6da
}
.bg-ciano {
	background-color: #00bcd4
}
.bg-ciano-pesado-1 {
	background-color: #00acc1
}
.bg-ciano-pesado-2 {
	background-color: #0097a7
}
.bg-ciano-pesado-3 {
	background-color: #00838f
}
.bg-ciano-pesado-4 {
	background-color: #006064
}
.bg-ciano-flat-1 {
	background-color: #84ffff
}
.bg-ciano-flat-2 {
	background-color: #18ffff
}
.bg-ciano-flat-3 {
	background-color: #00e5ff
}
.bg-ciano-flat-4 {
	background-color: #00b8d4
}
/*verde*/

.bg-claro-verde-leve-1 {
	background-color: #f1f8e9
}
.bg-claro-verde-leve-2 {
	background-color: #dcedc8
}
.bg-claro-verde-leve-3 {
	background-color: #c5e1a5
}
.bg-claro-verde-leve-4 {
	background-color: #aed581
}
.bg-claro-verde-leve-5 {
	background-color: #9ccc65
}
.bg-claro-verde {
	background-color: #8bc34a
}
.bg-claro-verde-pesado-1 {
	background-color: #7cb342
}
.bg-claro-verde-pesado-2 {
	background-color: #689f38
}
.bg-claro-verde-pesado-3 {
	background-color: #558b2f
}
.bg-claro-verde-pesado-4 {
	background-color: #33691e
}
.bg-claro-verde-flat-1 {
	background-color: #ccff90
}
.bg-claro-verde-flat-2 {
	background-color: #b2ff59
}
.bg-claro-verde-flat-3 {
	background-color: #76ff03
}
.bg-claro-verde-flat-4 {
	background-color: #64dd17
}
/*ambar*/

.bg-ambar-leve-1 {
	background-color: #fff8e1
}
.bg-ambar-leve-2 {
	background-color: #ffecb3
}
.bg-ambar-leve-3 {
	background-color: #ffe082
}
.bg-ambar-leve-4 {
	background-color: #ffd54f
}
.bg-ambar-leve-5 {
	background-color: #ffca28
}
.bg-ambar {
	background-color: #ffc107
}
.bg-ambar-pesado-1 {
	background-color: #ffb300
}
.bg-ambar-pesado-2 {
	background-color: #ffa000
}
.bg-ambar-pesado-3 {
	background-color: #ff8f00
}
.bg-ambar-pesado-4 {
	background-color: #ff6f00
}
.bg-ambar-flat-1 {
	background-color: #ffe57f
}
.bg-ambar-flat-2 {
	background-color: #ffd740
}
.bg-ambar-flat-3 {
	background-color: #ffc400
}
.bg-ambar-flat-4 {
	background-color: #ffab00
}
/*marrom*/

.bg-marrom-leve-5 {
	background-color: #efebe9
}
.bg-marrom-leve-4 {
	background-color: #d7ccc8
}
.bg-marrom-leve-3 {
	background-color: #bcaaa4
}
.bg-marrom-leve-2 {
	background-color: #a1887f
}
.bg-marrom-leve-1 {
	background-color: #8d6e63
}
.bg-marrom {
	background-color: #795548
}
.bg-marrom-pesado-1 {
	background-color: #6d4c41
}
.bg-marrom-pesado-2 {
	background-color: #5d4037
}
.bg-marrom-pesado-3 {
	background-color: #4e342e
}
.bg-marrom-pesado-4 {
	background-color: #3e2723
}
/*ROXO*/
.bg-roxo-leve-1 {
	background-color: #f3e5f5;
}
.bg-roxo-leve-2 {
	background-color: #e1bee7;
}
.bg-roxo-leve-3 {
	background-color: #ce93d8;
}
.bg-roxo-leve-4 {
	background-color: #ba68c8;
}
.bg-roxo-leve-5 {
	background-color: #ab47bc;
}
.bg-roxo {
	background-color: #9c27b0;
}
.bg-roxo-pesado-1 {
	background-color: #8e24aa;
}
.bg-roxo-pesado-2 {
	background-color: #7b1fa2;
}
.bg-roxo-pesado-3 {
	background-color: #6a1b9a;
}
.bg-roxo-pesado-4 {
	background-color: #4a148c;
}
.bg-roxo-flat-1 {
	background-color: #ea80fc;
}
.bg-roxo-flat-2 {
	background-color: #e040fb;
}
.bg-roxo-flat-3 {
	background-color: #d500f9;
}
.bg-roxo-flat-4 {
	background-color: #aa00ff;
}
/*AZUL*/
.bg-azul-leve-1 {
	background-color: #e3f2fd;
}
.bg-azul-leve-2 {
	background-color: #bbdefb;
}
.bg-azul-leve-3 {
	background-color: #90caf9;
}
.bg-azul-leve-4 {
	background-color: #64b5f6;
}
.bg-azul-leve-5 {
	background-color: #42a5f5;
}
.bg-azul {
	background-color: #2196f3;
}
.bg-azul-pesado-1 {
	background-color: #1e88e5;
}
.bg-azul-pesado-2 {
	background-color: #1976d2;
}
.bg-azul-pesado-3 {
	background-color: #1565c0;
}
.bg-azul-pesado-4 {
	background-color: #0d47a1;
}
.bg-azul-flat-1 {
	background-color: #82b1ff;
}
.bg-azul-flat-2 {
	background-color: #448aff;
}
.bg-azul-flat-3 {
	background-color: #2979ff;
}
.bg-azul-flat-4 {
	background-color: #2962ff;
}
/*Vermelho*/
.bg-vermelho-leve-1 {
	background-color: #ffebee;
}
.bg-vermelho-leve-2 {
	background-color: #ffcdd2;
}
.bg-vermelho-leve-3 {
	background-color: #ef9a9a;
}
.bg-vermelho-leve-4 {
	background-color: #e57373;
}
.bg-vermelho-leve-5 {
	background-color: #ef5350;
}
.bg-vermelho {
	background-color: #f44336;
}
.bg-vermelho-pesado-1 {
	background-color: #e53935;
}
.bg-vermelho-pesado-2 {
	background-color: #d32f2f;
}
.bg-vermelho-pesado-3 {
	background-color: #c62828;
}
.bg-vermelho-pesado-4 {
	background-color: #b71c1c;
}
.bg-vermelho-flat-1 {
	background-color: #ff8a80;
}
.bg-vermelho-flat-2 {
	background-color: #ff5252;
}
.bg-vermelho-flat-3 {
	background-color: #ff1744;
}
.bg-vermelho-flat-4 {
	background-color: #d50000;
}
/*Roxo*/

.bg-escuro-roxo-leve-1 {
	background-color: #ede7f6;
}
.bg-escuro-roxo-leve-2 {
	background-color: #d1c4e9;
}
.bg-escuro-roxo-leve-3 {
	background-color: #b39ddb;
}
.bg-escuro-roxo-leve-4 {
	background-color: #9575cd;
}
.bg-escuro-roxo-leve-5 {
	background-color: #7e57c2;
}
.bg-escuro-roxo {
	background-color: #673ab7;
}
.bg-escuro-roxo-pesado-1 {
	background-color: #5e35b1;
}
.bg-escuro-roxo-pesado-2 {
	background-color: #512da8;
}
.bg-escuro-roxo-pesado-3 {
	background-color: #4527a0;
}
.bg-escuro-roxo-pesado-4 {
	background-color: #311b92;
}
.bg-escuro-roxo-flat-1 {
	background-color: #b388ff;
}
.bg-escuro-roxo-flat-2 {
	background-color: #7c4dff;
}
.bg-escuro-roxo-flat-3 {
	background-color: #651fff;
}
.bg-escuro-roxo-flat-4 {
	background-color: #6200ea;
}
/*AZUL*/

.bg-claro-azul-leve-1 {
	background-color: #e1f5fe;
}
.bg-claro-azul-leve-2 {
	background-color: #b3e5fc;
}
.bg-claro-azul-leve-3 {
	background-color: #81d4fa;
}
.bg-claro-azul-leve-4 {
	background-color: #4fc3f7;
}
.bg-claro-azul-leve-5 {
	background-color: #29b6f6;
}
.bg-claro-azul {
	background-color: #03a9f4;
}
.bg-claro-azul-pesado-1 {
	background-color: #039be5;
}
.bg-claro-azul-pesado-2 {
	background-color: #0288d1;
}
.bg-claro-azul-pesado-3 {
	background-color: #0277bd;
}
.bg-claro-azul-pesado-4 {
	background-color: #01579b;
}
.bg-claro-azul-flat-1 {
	background-color: #80d8ff;
}
.bg-claro-azul-flat-2 {
	background-color: #40c4ff;
}
.bg-claro-azul-flat-3 {
	background-color: #00b0ff;
}
.bg-claro-azul-flat-4 {
	background-color: #0091ea;
}
/*VERDE*/

.bg-verde-leve-1 {
	background-color: #e8f5e9;
}
.bg-verde-leve-2 {
	background-color: #c8e6c9;
}
.bg-verde-leve-3 {
	background-color: #a5d6a7;
}
.bg-verde-leve-4 {
	background-color: #81c784;
}
.bg-verde-leve-5 {
	background-color: #66bb6a;
}
.bg-verde {
	background-color: #4caf50;
}
.bg-verde-pesado-1 {
	background-color: #43a047;
}
.bg-verde-pesado-2 {
	background-color: #388e3c;
}
.bg-verde-pesado-3 {
	background-color: #2e7d32;
}
.bg-verde-pesado-4 {
	background-color: #1b5e20;
}
.bg-verde-flat-1 {
	background-color: #b9f6ca;
}
.bg-verde-flat-2 {
	background-color: #69f0ae;
}
.bg-verde-flat-3 {
	background-color: #00e676;
}
.bg-verde-flat-4 {
	background-color: #00c853;
}
/*Amarelo*/

.bg-amarelo-leve-1 {
	background-color: #fffde7;
}
.bg-amarelo-leve-2 {
	background-color: #fff9c4;
}
.bg-amarelo-leve-3 {
	background-color: #fff59d;
}
.bg-amarelo-leve-4 {
	background-color: #fff176;
}
.bg-amarelo-leve-5 {
	background-color: #ffee58;
}
.bg-amarelo {
	background-color: #ffeb3b;
}
.bg-amarelo-pesado-1 {
	background-color: #fdd835;
}
.bg-amarelo-pesado-2 {
	background-color: #fbc02d;
}
.bg-amarelo-pesado-3 {
	background-color: #f9a825;
}
.bg-amarelo-pesado-4 {
	background-color: #f57f17;
}
.bg-amarelo-flat-1 {
	background-color: #ffff8d;
}
.bg-amarelo-flat-2 {
	background-color: #ffff00;
}
.bg-amarelo-flat-3 {
	background-color: #ffea00;
}
.bg-amarelo-flat-4 {
	background-color: #ffd600;
}
/*Laranja*/

.bg-escuro-laranja-leve-1 {
	background-color: #fbe9e7;
}
.bg-escuro-laranja-leve-2 {
	background-color: #ffccbc;
}
.bg-escuro-laranja-leve-3 {
	background-color: #ffab91;
}
.bg-escuro-laranja-leve-4 {
	background-color: #ff8a65;
}
.bg-escuro-laranja-leve-5 {
	background-color: #ff7043;
}
.bg-escuro-laranja {
	background-color: #ff5722;
}
.bg-escuro-laranja-pesado-1 {
	background-color: #f4511e;
}
.bg-escuro-laranja-pesado-2 {
	background-color: #e64a19;
}
.bg-escuro-laranja-pesado-3 {
	background-color: #d84315;
}
.bg-escuro-laranja-pesado-4 {
	background-color: #bf360c;
}
.bg-escuro-laranja-flat-1 {
	background-color: #ff9e80;
}
.bg-escuro-laranja-flat-2 {
	background-color: #ff6e40;
}
.bg-escuro-laranja-flat-3 {
	background-color: #ff3d00;
}
.bg-escuro-laranja-flat-4 {
	background-color: #dd2c00;
}
/*Cinza*/

.bg-cinza-azulado-leve-5 {
	background-color: #eceff1;
}
.bg-cinza-azulado-leve-4 {
	background-color: #cfd8dc;
}
.bg-cinza-azulado-leve-3 {
	background-color: #b0bec5;
}
.bg-cinza-azulado-leve-2 {
	background-color: #90a4ae;
}
.bg-cinza-azulado-leve-1 {
	background-color: #78909c;
}
.bg-cinza-azulado {
	background-color: #607d8b;
}
.bg-cinza-azulado-pesado-1 {
	background-color: #546e7a;
}
.bg-cinza-azulado-pesado-2 {
	background-color: #455a64;
}
.bg-cinza-azulado-pesado-3 {
	background-color: #37474f;
}
.bg-cinza-azulado-pesado-4 {
	background-color: #263238;
}
/*VERDE AZULADO*/
.bg-verde-azulado-leve-1 {
	background-color: #e0f2f1;
}
.bg-verde-azulado-leve-2 {
	background-color: #b2dfdb;
}
.bg-verde-azulado-leve-3 {
	background-color: #80cbc4;
}
.bg-verde-azulado-leve-4 {
	background-color: #4db6ac;
}
.bg-verde-azulado-leve-5 {
	background-color: #26a69a;
}
.bg-verde-azulado {
	background-color: #009688;
}
.bg-verde-azulado-pesado-1 {
	background-color: #00897b;
}
.bg-verde-azulado-pesado-2 {
	background-color: #00796b;
}
.bg-verde-azulado-pesado-3 {
	background-color: #00695c;
}
.bg-verde-azulado-pesado-4 {
	background-color: #004d40;
}
.bg-verde-azulado-flat-1 {
	background-color: #a7ffeb;
}
.bg-verde-azulado-flat-2 {
	background-color: #64ffda;
}
.bg-verde-azulado-flat-3 {
	background-color: #1de9b6;
}
.bg-verde-azulado-flat-4 {
	background-color: #00bfa5;
}
/*LIMAO*/
.bg-limao-leve-1 {
	background-color: #f9fbe7;
}
.bg-limao-leve-2 {
	background-color: #f0f4c3;
}
.bg-limao-leve-3 {
	background-color: #e6ee9c;
}
.bg-limao-leve-4 {
	background-color: #dce775;
}
.bg-limao-leve-5 {
	background-color: #d4e157;
}
.bg-limao {
	background-color: #cddc39;
}
.bg-limao-pesado-1 {
	background-color: #c0ca33;
}
.bg-limao-pesado-2 {
	background-color: #afb42b;
}
.bg-limao-pesado-3 {
	background-color: #9e9d24;
}
.bg-limao-pesado-4 {
	background-color: #827717;
}
.bg-limao-flat-1 {
	background-color: #f4ff81;
}
.bg-limao-flat-2 {
	background-color: #eeff41;
}
.bg-limao-flat-3 {
	background-color: #c6ff00;
}
.bg-limao-flat-4 {
	background-color: #aeea00;
}
/*LARANJA*/
.bg-laranja-leve-1 {
	background-color: #fff3e0;
}
.bg-laranja-leve-2 {
	background-color: #ffe0b2;
}
.bg-laranja-leve-3 {
	background-color: #ffcc80;
}
.bg-laranja-leve-4 {
	background-color: #ffb74d;
}
.bg-laranja-leve-5 {
	background-color: #ffa726;
}
.bg-laranja {
	background-color: #ff9800;
}
.bg-laranja-pesado-1 {
	background-color: #fb8c00;
}
.bg-laranja-pesado-2 {
	background-color: #f57c00;
}
.bg-laranja-pesado-3 {
	background-color: #ef6c00;
}
.bg-laranja-pesado-4 {
	background-color: #e65100;
}
.bg-laranja-flat-1 {
	background-color: #ffd180;
}
.bg-laranja-flat-2 {
	background-color: #ffab40;
}
.bg-laranja-flat-3 {
	background-color: #ff9100;
}
.bg-laranja-flat-4 {
	background-color: #ff6d00;
}
/*CINZA*/
.bg-cinza-leve-1 {
	background-color: #fafafa;
}
.bg-cinza-leve-2 {
	background-color: #f5f5f5;
}
.bg-cinza-leve-3 {
	background-color: #eeeeee;
}
.bg-cinza-leve-4 {
	background-color: #e0e0e0;
}
.bg-cinza-leve-5 {
	background-color: #bdbdbd;
}
.bg-cinza {
	background-color: #9e9e9e;
}
.bg-cinza-pesado-1 {
	background-color: #757575;
}
.bg-cinza-pesado-2 {
	background-color: #616161;
}
.bg-cinza-pesado-3 {
	background-color: #424242;
}
.bg-cinza-pesado-4 {
	background-color: #212121;
}
/*transparente*/
.transparent {
	background-color: transparent;
}
.transparent-text {
	color: transparent;
}
/*TEXTOS*/

/* Cores de fonte */
.t-vermelho {
	color: #f44336;
}
.t-rosa {
	color: #e91e63;
}
.t-roxo {
	color: #9c27b0;
}
.t-roxo-escuro {
	color: #673ab7;
}
.t-azul {
	color: #2196f3;
}
.t-azul-claro {
	color: #03a9f4;
}
.t-verde {
	color: #4caf50;
}
.t-verde-claro {
	color: #8bc34a;
}
.t-amarelo {
	color: #ffeb3b;
}
.t-laranja {
	color: #ff9800;
}
.t-marrom {
	color: #795548;
}
.t-cinza {
	color: #9e9e9e;
}
.t-preto {
	color: #000;
}
.t-tradicional {
	color: #eee;
}
.t-escuro {
	color: #333;
}
.t-branco {
	color: #fff;
}

.t-cinza-escuro {
	color: #4F4F4F;
}
/*ESTRUTURA*/

/*cursores*/
.pointer {
	cursor: pointer;
}
.default {
	cursor: default;
}
/*Linha divisória*/

.traco-liso {
	height: 2px;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0
}
.traco-pontuado {
	height: 2px;
	overflow: hidden;
	border-bottom: 1px dotted #e0e0e0
}
.traco-tracado {
	height: 2px;
	overflow: hidden;
	border-bottom: 1px dashed #e0e0e0
}
.liso {
	border-bottom: 1px solid #e0e0e0
}
.pontuado {
	border-bottom: 1px dotted #e0e0e0
}
.tracado {
	border-bottom: 1px dashed #e0e0e0
}
/*alinhamento de texto*/

.t-direito {
	text-align: right
}
.t-esquerdo {
	text-align: left
}
.t-centro {
	text-align: center
}
.t-justificado {
	text-align: justify
}
/*posição*/
.centralizado {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*flutuar*/
.direito {
	float: right
}
.esquerdo {
	float: left
}
.centro {
	float: center
}
/*hide*/
.esconder {
	visibility: hidden;
}
.sumir {
	display: none;
}
/*displays*/
.bloco {
	display: block;
}
.bloco-linha {
	display: inline-block;
}
.linha {
	display: inline;
}
/*circulo*/
.circulo {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%
}
.arredondado {
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}
.arredondado4 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.truncado {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* padding*/
.sem-padding {
	padding: 0;
}
.padding1 {
	padding: 1px;
}
.padding2 {
	padding: 2px;
}
.padding5 {
	padding: 5px;
}
.padding10 {
	padding: 10px;
}
.padding15 {
	padding: 15px;
}
.padding20 {
	padding: 20px;
}
.padding30 {
	padding: 30px;
}
/*transicao*/
.transicao05 {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.transicao10 {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	transition: 1s;
}
.transicao15 {
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
	-ms-transition: 1.5s;
	transition: 1.5s;
}
.transicao20 {
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-o-transition: 2s;
	-ms-transition: 2s;
	transition: 2s;
}
/*sombras*/
.sombra-1 {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.sombra-2 {
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sombra-3 {
	-webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.sombra-4 {
	-webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.sombra-5 {
	-webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
/*animações*/
.pulo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;/*-webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-Desaparecendo;
    animation-timing-function: ease-Desaparecendo;
	-webkit-animation-timing-function: ease-in-Desaparecendo;
    animation-timing-function: ease-in-Desaparecendo;
	-webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite; */
}
 @-webkit-keyframes pulo {
 0%, 20%, 50%, 80%, 100% {
-webkit-transform: translateY(0);
}
 40% {
-webkit-transform: translateY(-30px);
}
 60% {
-webkit-transform: translateY(-15px);
}
}
 @keyframes pulo {
 0%, 20%, 50%, 80%, 100% {
transform: translateY(0);
}
 40% {
transform: translateY(-30px);
}
 60% {
transform: translateY(-15px);
}
}
.pulo {
	-webkit-animation-name: pulo;
	animation-name: pulo;
}
.entradaPulo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes entradaPulo {
 0% {
 opacity: 0;
 -webkit-transform: scale(.3);
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.05);
}
 70% {
 -webkit-transform: scale(.9);
}
 100% {
 -webkit-transform: scale(1);
}
}
 @keyframes entradaPulo {
 0% {
 opacity: 0;
 transform: scale(.3);
}
 50% {
 opacity: 1;
 transform: scale(1.05);
}
 70% {
 transform: scale(.9);
}
 100% {
 transform: scale(1);
}
}
.entradaPulo {
	-webkit-animation-name: entradaPulo;
	animation-name: entradaPulo;
}
.entradaparaCima {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes entradaparaCima {
 0% {
 opacity: 0;
 -webkit-transform: translateY(2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateY(-30px);
}
 80% {
 -webkit-transform: translateY(10px);
}
 100% {
 -webkit-transform: translateY(0);
}
}
 @keyframes entradaparaCima {
 0% {
 opacity: 0;
 transform: translateY(2000px);
}
 60% {
 opacity: 1;
 transform: translateY(-30px);
}
 80% {
 transform: translateY(10px);
}
 100% {
 transform: translateY(0);
}
}
.entradaparaCima {
	-webkit-animation-name: entradaparaCima;
	animation-name: entradaparaCima;
}
.entradaparaBaixo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes entradaparaBaixo {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateY(30px);
}
 80% {
 -webkit-transform: translateY(-10px);
}
 100% {
 -webkit-transform: translateY(0);
}
}
 @keyframes entradaparaBaixo {
 0% {
 opacity: 0;
 transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 transform: translateY(30px);
}
 80% {
 transform: translateY(-10px);
}
 100% {
 transform: translateY(0);
}
}
.entradaparaBaixo {
	-webkit-animation-name: entradaparaBaixo;
	animation-name: entradaparaBaixo;
}
.entradaparaEsquerda {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes entradaparaEsquerda {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(30px);
}
 80% {
 -webkit-transform: translateX(-10px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
 @keyframes entradaparaEsquerda {
 0% {
 opacity: 0;
 transform: translateX(-2000px);
}
 60% {
 opacity: 1;
 transform: translateX(30px);
}
 80% {
 transform: translateX(-10px);
}
 100% {
 transform: translateX(0);
}
}
.entradaparaEsquerda {
	-webkit-animation-name: entradaparaEsquerda;
	animation-name: entradaparaEsquerda;
}
.entradaparaDireita {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes entradaparaDireita {
 0% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(-30px);
}
 80% {
 -webkit-transform: translateX(10px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
 @keyframes entradaparaDireita {
 0% {
 opacity: 0;
 transform: translateX(2000px);
}
 60% {
 opacity: 1;
 transform: translateX(-30px);
}
 80% {
 transform: translateX(10px);
}
 100% {
 transform: translateX(0);
}
}
.entradaparaDireita {
	-webkit-animation-name: entradaparaDireita;
	animation-name: entradaparaDireita;
}
.saida {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes saida {
 0% {
 -webkit-transform: scale(1);
}
 25% {
 -webkit-transform: scale(.95);
}
 50% {
 opacity: 1;
 -webkit-transform: scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(.3);
}
}
@keyframes saida {
 0% {
 transform: scale(1);
}
 25% {
 transform: scale(.95);
}
 50% {
 opacity: 1;
 transform: scale(1.1);
}
 100% {
 opacity: 0;
 transform: scale(.3);
}
}
.saida {
	-webkit-animation-name: saida;
	animation-name: saida;
}
.saidaparaCima {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes saidaparaCima {
 0% {
 -webkit-transform: translateY(0);
}
 20% {
 opacity: 1;
 -webkit-transform: translateY(20px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
}
@keyframes saidaparaCima {
 0% {
 transform: translateY(0);
}
 20% {
 opacity: 1;
 transform: translateY(20px);
}
 100% {
 opacity: 0;
 transform: translateY(-2000px);
}
}
.saidaparaCima {
	-webkit-animation-name: saidaparaCima;
	animation-name: saidaparaCima;
}
.saidaparaBaixo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes saidaparaBaixo {
 0% {
 -webkit-transform: translateY(0);
}
 20% {
 opacity: 1;
 -webkit-transform: translateY(-20px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(2000px);
}
}
@keyframes saidaparaBaixo {
 0% {
 transform: translateY(0);
}
 20% {
 opacity: 1;
 transform: translateY(-20px);
}
 100% {
 opacity: 0;
 transform: translateY(2000px);
}
}
.saidaparaBaixo {
	-webkit-animation-name: saidaparaBaixo;
	animation-name: saidaparaBaixo;
}
.saidaparaEsquerda {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes saidaparaEsquerda {
 0% {
 -webkit-transform: translateX(0);
}
 20% {
 opacity: 1;
 -webkit-transform: translateX(20px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
}
@keyframes saidaparaEsquerda {
 0% {
 transform: translateX(0);
}
 20% {
 opacity: 1;
 transform: translateX(20px);
}
 100% {
 opacity: 0;
 transform: translateX(-2000px);
}
}
.saidaparaEsquerda {
	-webkit-animation-name: saidaparaEsquerda;
	animation-name: saidaparaEsquerda;
}
.saidaparaDireita {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes saidaparaDireita {
 0% {
 -webkit-transform: translateX(0);
}
 20% {
 opacity: 1;
 -webkit-transform: translateX(-20px);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
}
@keyframes saidaparaDireita {
 0% {
 transform: translateX(0);
}
 20% {
 opacity: 1;
 transform: translateX(-20px);
}
 100% {
 opacity: 0;
 transform: translateX(2000px);
}
}
.saidaparaDireita {
	-webkit-animation-name: saidaparaDireita;
	animation-name: saidaparaDireita;
}
.aparecer {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecer {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
@keyframes aparecer {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.aparecer {
	-webkit-animation-name: aparecer;
	animation-name: aparecer;
}
.aparecerparaCima {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecerparaCima {
 0% {
 opacity: 0;
 -webkit-transform: translateY(20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @keyframes aparecerparaCima {
 0% {
 opacity: 0;
 transform: translateY(20px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
.aparecerparaCima {
	-webkit-animation-name: aparecerparaCima;
	animation-name: aparecerparaCima;
}
.aparecerparaBaixo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecerparaBaixo {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @keyframes aparecerparaBaixo {
 0% {
 opacity: 0;
 transform: translateY(-20px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
.aparecerparaBaixo {
	-webkit-animation-name: aparecerparaBaixo;
	animation-name: aparecerparaBaixo;
}
.aparecerparaEsquerda {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecerparaEsquerda {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@keyframes aparecerparaEsquerda {
 0% {
 opacity: 0;
 transform: translateX(-20px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.aparecerparaEsquerda {
	-webkit-animation-name: aparecerparaEsquerda;
	animation-name: aparecerparaEsquerda;
}
.aparecerparaDireita {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecerparaDireita {
 0% {
 opacity: 0;
 -webkit-transform: translateX(20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@keyframes aparecerparaDireita {
 0% {
 opacity: 0;
 transform: translateX(20px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.aparecerparaDireita {
	-webkit-animation-name: aparecerparaDireita;
	animation-name: aparecerparaDireita;
}
.aparecerparaCimaGrande {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecerparaCimaGrande {
 0% {
 opacity: 0;
 -webkit-transform: translateY(2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
@keyframes aparecerparaCimaGrande {
 0% {
 opacity: 0;
 transform: translateY(2000px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
.aparecerparaCimaGrande {
	-webkit-animation-name: aparecerparaCimaGrande;
	animation-name: aparecerparaCimaGrande;
}
.aparecerparaBaixoGrande {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecerparaBaixoGrande {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
@keyframes aparecerparaBaixoGrande {
 0% {
 opacity: 0;
 transform: translateY(-2000px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}
.aparecerparaBaixoGrande {
	-webkit-animation-name: aparecerparaBaixoGrande;
	animation-name: aparecerparaBaixoGrande;
}
.aparecerparaEsquerdaGrande {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecerparaEsquerdaGrande {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@keyframes aparecerparaEsquerdaGrande {
 0% {
 opacity: 0;
 transform: translateX(-2000px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.aparecerparaEsquerdaGrande {
	-webkit-animation-name: aparecerparaEsquerdaGrande;
	animation-name: aparecerparaEsquerdaGrande;
}
.aparecerparaDireitaGrande {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes aparecerparaDireitaGrande {
 0% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
@keyframes aparecerparaDireitaGrande {
 0% {
 opacity: 0;
 transform: translateX(2000px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.aparecerparaDireitaGrande {
	-webkit-animation-name: aparecerparaDireitaGrande;
	animation-name: aparecerparaDireitaGrande;
}
.desaparecer {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecer {
 0% {
opacity: 1;
}
 100% {
opacity: 0;
}
}
@keyframes desaparecer {
 0% {
opacity: 1;
}
 100% {
opacity: 0;
}
}
.desaparecer {
	-webkit-animation-name: desaparecer;
	animation-name: desaparecer;
}
.desaparecerparaCima {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecerparaCima {
 0% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(-20px);
}
}
@keyframes desaparecerparaCima {
 0% {
 opacity: 1;
 transform: translateY(0);
}
 100% {
 opacity: 0;
 transform: translateY(-20px);
}
}
.desaparecerparaCima {
	-webkit-animation-name: desaparecerparaCima;
	animation-name: desaparecerparaCima;
}
.desaparecerparaBaixo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecerparaBaixo {
 0% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(20px);
}
}
@keyframes desaparecerparaBaixo {
 0% {
 opacity: 1;
 transform: translateY(0);
}
 100% {
 opacity: 0;
 transform: translateY(20px);
}
}
.desaparecerparaBaixo {
	-webkit-animation-name: desaparecerparaBaixo;
	animation-name: desaparecerparaBaixo;
}
.desaparecerparaEsquerda {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecerparaEsquerda {
 0% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(-20px);
}
}
@keyframes desaparecerparaEsquerda {
 0% {
 opacity: 1;
 transform: translateX(0);
}
 100% {
 opacity: 0;
 transform: translateX(-20px);
}
}
.desaparecerparaEsquerda {
	-webkit-animation-name: desaparecerparaEsquerda;
	animation-name: desaparecerparaEsquerda;
}
.desaparecerparaDireita {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecerparaDireita {
 0% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(20px);
}
}
@keyframes desaparecerparaDireita {
 0% {
 opacity: 1;
 transform: translateX(0);
}
 100% {
 opacity: 0;
 transform: translateX(20px);
}
}
.desaparecerparaDireita {
	-webkit-animation-name: desaparecerparaDireita;
	animation-name: desaparecerparaDireita;
}
.desaparecerparaCimaGrande {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecerparaCimaGrande {
 0% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
}
}
@keyframes desaparecerparaCimaGrande {
 0% {
 opacity: 1;
 transform: translateY(0);
}
 100% {
 opacity: 0;
 transform: translateY(-2000px);
}
}
.desaparecerparaCimaGrande {
	-webkit-animation-name: desaparecerparaCimaGrande;
	animation-name: desaparecerparaCimaGrande;
}
.desaparecerparaBaixoGrande {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecerparaBaixoGrande {
 0% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateY(2000px);
}
}
@keyframes desaparecerparaBaixoGrande {
 0% {
 opacity: 1;
 transform: translateY(0);
}
 100% {
 opacity: 0;
 transform: translateY(2000px);
}
}
.desaparecerparaBaixoGrande {
	-webkit-animation-name: desaparecerparaBaixoGrande;
	animation-name: desaparecerparaBaixoGrande;
}
.desaparecerparaEsquerdaGrande {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecerparaEsquerdaGrande {
 0% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
}
}
@keyframes desaparecerparaEsquerdaGrande {
 0% {
 opacity: 1;
 transform: translateX(0);
}
 100% {
 opacity: 0;
 transform: translateX(-2000px);
}
}
.desaparecerparaEsquerdaGrande {
	-webkit-animation-name: desaparecerparaEsquerdaGrande;
	animation-name: desaparecerparaEsquerdaGrande;
}
.desaparecerparaDireitaGrande {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes desaparecerparaDireitaGrande {
 0% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(2000px);
}
}
@keyframes desaparecerparaDireitaGrande {
 0% {
 opacity: 1;
 transform: translateX(0);
}
 100% {
 opacity: 0;
 transform: translateX(2000px);
}
}
.desaparecerparaDireitaGrande {
	-webkit-animation-name: desaparecerparaDireitaGrande;
	animation-name: desaparecerparaDireitaGrande;
}
.piscar {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes piscar {
 0%, 50%, 100% {
opacity: 1;
}
 25%, 75% {
opacity: 0;
}
}
@keyframes piscar {
 0%, 50%, 100% {
opacity: 1;
}
 25%, 75% {
opacity: 0;
}
}
.piscar {
	-webkit-animation-name: piscar;
	animation-name: piscar;
}
.girar {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes girar {
 0% {
 -webkit-transform: perspective(400px) rotateY(0);
 -webkit-animation-timing-function: ease-out;
}
 40% {
 -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
 -webkit-animation-timing-function: ease-out;
}
 50% {
 -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
 -webkit-animation-timing-function: ease-in;
}
 80% {
 -webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
 -webkit-animation-timing-function: ease-in;
}
 100% {
 -webkit-transform: perspective(400px) scale(1);
 -webkit-animation-timing-function: ease-in;
}
}
@keyframes girar {
 0% {
 transform: perspective(400px) rotateY(0);
 animation-timing-function: ease-out;
}
 40% {
 transform: perspective(400px) translateZ(150px) rotateY(170deg);
 animation-timing-function: ease-out;
}
 50% {
 transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
 animation-timing-function: ease-in;
}
 80% {
 transform: perspective(400px) rotateY(360deg) scale(.95);
 animation-timing-function: ease-in;
}
 100% {
 transform: perspective(400px) scale(1);
 animation-timing-function: ease-in;
}
}
.girar {
	-webkit-backface-visibility: visible;
	-webkit-animation-name: girar;
	backface-visibility: visible;
	animation-name: girar;
}
.girarentrandoX {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes girarentrandoX {
 0% {
 -webkit-transform: perspective(400px) rotateX(90deg);
 opacity: 0;
}
 40% {
 -webkit-transform: perspective(400px) rotateX(-10deg);
}
 70% {
 -webkit-transform: perspective(400px) rotateX(10deg);
}
 100% {
 -webkit-transform: perspective(400px) rotateX(0deg);
 opacity: 1;
}
}
@keyframes girarentrandoX {
 0% {
 transform: perspective(400px) rotateX(90deg);
 opacity: 0;
}
 40% {
 transform: perspective(400px) rotateX(-10deg);
}
 70% {
 transform: perspective(400px) rotateX(10deg);
}
 100% {
 transform: perspective(400px) rotateX(0deg);
 opacity: 1;
}
}
.girarentrandoX {
	-webkit-backface-visibility: visible;
	-webkit-animation-name: girarentrandoX;
	backface-visibility: visible;
	animation-name: girarentrandoX;
}
.girarsaindoX {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes girarsaindoX {
 0% {
 -webkit-transform: perspective(400px) rotateX(0deg);
 opacity: 1;
}
 100% {
 -webkit-transform: perspective(400px) rotateX(90deg);
 opacity: 0;
}
}
@keyframes girarsaindoX {
 0% {
 transform: perspective(400px) rotateX(0deg);
 opacity: 1;
}
 100% {
 transform: perspective(400px) rotateX(90deg);
 opacity: 0;
}
}
.girarsaindoX {
	-webkit-animation-name: girarsaindoX;
	-webkit-backface-visibility: visible;
	animation-name: girarsaindoX;
	backface-visibility: visible;
}
.girarentrandoY {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes girarentrandoY {
 0% {
 -webkit-transform: perspective(400px) rotateY(90deg);
 opacity: 0;
}
 40% {
 -webkit-transform: perspective(400px) rotateY(-10deg);
}
 70% {
 -webkit-transform: perspective(400px) rotateY(10deg);
}
 100% {
 -webkit-transform: perspective(400px) rotateY(0deg);
 opacity: 1;
}
}
@keyframes girarentrandoY {
 0% {
 transform: perspective(400px) rotateY(90deg);
 opacity: 0;
}
 40% {
 transform: perspective(400px) rotateY(-10deg);
}
 70% {
 transform: perspective(400px) rotateY(10deg);
}
 100% {
 transform: perspective(400px) rotateY(0deg);
 opacity: 1;
}
}
.girarentrandoY {
	-webkit-backface-visibility: visible;
	-webkit-animation-name: girarentrandoY;
	backface-visibility: visible;
	animation-name: girarentrandoY;
}
.girarsaindoY {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes girarsaindoY {
 0% {
 -webkit-transform: perspective(400px) rotateY(0deg);
 opacity: 1;
}
 100% {
 -webkit-transform: perspective(400px) rotateY(90deg);
 opacity: 0;
}
}
@keyframes girarsaindoY {
 0% {
 transform: perspective(400px) rotateY(0deg);
 opacity: 1;
}
 100% {
 transform: perspective(400px) rotateY(90deg);
 opacity: 0;
}
}
.girarsaindoY {
	-webkit-backface-visibility: visible;
	-webkit-animation-name: girarsaindoY;
	backface-visibility: visible;
	animation-name: girarsaindoY;
}
.girarPenduradoCaindo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes girarPenduradoCaindo {
 0% {
-webkit-transform: rotate(0);
-webkit-transform-origin: top left;
-webkit-animation-timing-function: ease-in-out;
}
 20%, 60% {
-webkit-transform: rotate(80deg);
-webkit-transform-origin: top left;
-webkit-animation-timing-function: ease-in-out;
}
 40% {
-webkit-transform: rotate(60deg);
-webkit-transform-origin: top left;
-webkit-animation-timing-function: ease-in-out;
}
 80% {
-webkit-transform: rotate(60deg) translateY(0);
opacity: 1;
-webkit-transform-origin: top left;
-webkit-animation-timing-function: ease-in-out;
}
 100% {
-webkit-transform: translateY(700px);
opacity: 0;
}
}
@keyframes girarPenduradoCaindo {
 0% {
transform: rotate(0);
transform-origin: top left;
animation-timing-function: ease-in-out;
}
 20%, 60% {
transform: rotate(80deg);
transform-origin: top left;
animation-timing-function: ease-in-out;
}
 40% {
transform: rotate(60deg);
transform-origin: top left;
animation-timing-function: ease-in-out;
}
 80% {
transform: rotate(60deg) translateY(0);
opacity: 1;
transform-origin: top left;
animation-timing-function: ease-in-out;
}
 100% {
transform: translateY(700px);
opacity: 0;
}
}
.girarPenduradoCaindo {
	-webkit-animation-name: girarPenduradoCaindo;
	animation-name: girarPenduradoCaindo;
}
.altaVelocidadeEntrando {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes altaVelocidadeEntrando {
 0% {
-webkit-transform: translateX(100%) skewX(-30deg);
opacity: 0;
}
 60% {
-webkit-transform: translateX(-20%) skewX(30deg);
opacity: 1;
}
 80% {
-webkit-transform: translateX(0%) skewX(-15deg);
opacity: 1;
}
 100% {
-webkit-transform: translateX(0%) skewX(0deg);
opacity: 1;
}
}
@keyframes altaVelocidadeEntrando {
 0% {
transform: translateX(100%) skewX(-30deg);
opacity: 0;
}
 60% {
transform: translateX(-20%) skewX(30deg);
opacity: 1;
}
 80% {
transform: translateX(0%) skewX(-15deg);
opacity: 1;
}
 100% {
transform: translateX(0%) skewX(0deg);
opacity: 1;
}
}
.altaVelocidadeEntrando {
	-webkit-animation-name: altaVelocidadeEntrando;
	animation-name: altaVelocidadeEntrando;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.altaVelocidadeEntrando {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
.altaVelocidadeDesaparecendo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes altaVelocidadeDesaparecendo {
 0% {
-webkit-transform: translateX(0%) skewX(0deg);
opacity: 1;
}
 100% {
-webkit-transform: translateX(100%) skewX(-30deg);
opacity: 0;
}
}
@keyframes altaVelocidadeDesaparecendo {
 0% {
transform: translateX(0%) skewX(0deg);
opacity: 1;
}
 100% {
transform: translateX(100%) skewX(-30deg);
opacity: 0;
}
}
.altaVelocidadeDesaparecendo {
	-webkit-animation-name: altaVelocidadeDesaparecendo;
	animation-name: altaVelocidadeDesaparecendo;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
.animated.altaVelocidadeDesaparecendo {
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
}
.pulso {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes pulso {
 0% {
-webkit-transform: scale(1);
}
 50% {
-webkit-transform: scale(1.1);
}
 100% {
-webkit-transform: scale(1);
}
}
@keyframes pulso {
 0% {
transform: scale(1);
}
 50% {
transform: scale(1.1);
}
 100% {
transform: scale(1);
}
}
.pulso {
	-webkit-animation-name: pulso;
	animation-name: pulso;
}
.rodandoEntrando {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoEntrando {
 0% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(-200deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rodandoEntrando {
 0% {
 transform-origin: center center;
 transform: rotate(-200deg);
 opacity: 0;
}
 100% {
 transform-origin: center center;
 transform: rotate(0);
 opacity: 1;
}
}
.rodandoEntrando {
	-webkit-animation-name: rodandoEntrando;
	animation-name: rodandoEntrando;
}
.rodandoEntrandoparaCimaparaEsquerda {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoEntrandoparaCimaparaEsquerda {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rodandoEntrandoparaCimaparaEsquerda {
 0% {
 transform-origin: left bottom;
 transform: rotate(90deg);
 opacity: 0;
}
 100% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
}
.rodandoEntrandoparaCimaparaEsquerda {
	-webkit-animation-name: rodandoEntrandoparaCimaparaEsquerda;
	animation-name: rodandoEntrandoparaCimaparaEsquerda;
}
.rodandoEntrandoparaBaixoparaEsquerda {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoEntrandoparaBaixoparaEsquerda {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rodandoEntrandoparaBaixoparaEsquerda {
 0% {
 transform-origin: right bottom;
 transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
}
.rodandoEntrandoparaBaixoparaEsquerda {
	-webkit-animation-name: rodandoEntrandoparaBaixoparaEsquerda;
	animation-name: rodandoEntrandoparaBaixoparaEsquerda;
}
.rodandoEntrandoparaCimaparaDireita {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoEntrandoparaCimaparaDireita {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rodandoEntrandoparaCimaparaDireita {
 0% {
 transform-origin: right bottom;
 transform: rotate(-90deg);
 opacity: 0;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
}
.rodandoEntrandoparaCimaparaDireita {
	-webkit-animation-name: rodandoEntrandoparaCimaparaDireita;
	animation-name: rodandoEntrandoparaCimaparaDireita;
}
.rodandoEntrandoparaBaixoparaDireita {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoEntrandoparaBaixoparaDireita {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
}
@keyframes rodandoEntrandoparaBaixoparaDireita {
 0% {
 transform-origin: right bottom;
 transform: rotate(90deg);
 opacity: 0;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
}
.rodandoEntrandoparaBaixoparaDireita {
	-webkit-animation-name: rodandoEntrandoparaBaixoparaDireita;
	animation-name: rodandoEntrandoparaBaixoparaDireita;
}
.rodandoDesaparecendo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoDesaparecendo {
 0% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: center center;
 -webkit-transform: rotate(200deg);
 opacity: 0;
}
}
@keyframes rodandoDesaparecendo {
 0% {
 transform-origin: center center;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 transform-origin: center center;
 transform: rotate(200deg);
 opacity: 0;
}
}
.rodandoDesaparecendo {
	-webkit-animation-name: rodandoDesaparecendo;
	animation-name: rodandoDesaparecendo;
}
.rodandoDesaparecendoparaCimaparaEsquerda {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoDesaparecendoparaCimaparaEsquerda {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
}
@keyframes rodandoDesaparecendoparaCimaparaEsquerda {
 0% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 -transform-origin: left bottom;
 -transform: rotate(-90deg);
 opacity: 0;
}
}
.rodandoDesaparecendoparaCimaparaEsquerda {
	-webkit-animation-name: rodandoDesaparecendoparaCimaparaEsquerda;
	animation-name: rodandoDesaparecendoparaCimaparaEsquerda;
}
.rodandoDesaparecendoparaBaixoparaEsquerda {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoDesaparecendoparaBaixoparaEsquerda {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
}
@keyframes rodandoDesaparecendoparaBaixoparaEsquerda {
 0% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 transform-origin: left bottom;
 transform: rotate(90deg);
 opacity: 0;
}
}
.rodandoDesaparecendoparaBaixoparaEsquerda {
	-webkit-animation-name: rodandoDesaparecendoparaBaixoparaEsquerda;
	animation-name: rodandoDesaparecendoparaBaixoparaEsquerda;
}
.rodandoDesaparecendoCimaDireita {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoDesaparecendoCimaDireita {
 0% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: left bottom;
 -webkit-transform: rotate(90deg);
 opacity: 0;
}
}
@keyframes rodandoDesaparecendoCimaDireita {
 0% {
 transform-origin: left bottom;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 transform-origin: left bottom;
 transform: rotate(90deg);
 opacity: 0;
}
}
.rodandoDesaparecendoCimaDireita {
	-webkit-animation-name: rodandoDesaparecendoCimaDireita;
	animation-name: rodandoDesaparecendoCimaDireita;
}
.rodandoDesaparecendoparaBaixoparaDireita {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rodandoDesaparecendoparaBaixoparaDireita {
 0% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(0);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: right bottom;
 -webkit-transform: rotate(-90deg);
 opacity: 0;
}
}
@keyframes rodandoDesaparecendoparaBaixoparaDireita {
 0% {
 transform-origin: right bottom;
 transform: rotate(0);
 opacity: 1;
}
 100% {
 transform-origin: right bottom;
 transform: rotate(-90deg);
 opacity: 0;
}
}
.rodandoDesaparecendoparaBaixoparaDireita {
	-webkit-animation-name: rodandoDesaparecendoparaBaixoparaDireita;
	animation-name: rodandoDesaparecendoparaBaixoparaDireita;
}
.rolandoEntrando {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rolandoEntrando {
 0% {
opacity: 0;
-webkit-transform: translateX(-100%) rotate(-120deg);
}
 100% {
opacity: 1;
-webkit-transform: translateX(0px) rotate(0deg);
}
}
@keyframes rolandoEntrando {
 0% {
opacity: 0;
transform: translateX(-100%) rotate(-120deg);
}
 100% {
opacity: 1;
transform: translateX(0px) rotate(0deg);
}
}
.rolandoEntrando {
	-webkit-animation-name: rolandoEntrando;
	animation-name: rolandoEntrando;
}
.rolandoDesaparecendo {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes rolandoDesaparecendo {
 0% {
 opacity: 1;
 -webkit-transform: translateX(0px) rotate(0deg);
}
 100% {
 opacity: 0;
 -webkit-transform: translateX(100%) rotate(120deg);
}
}
@keyframes rolandoDesaparecendo {
 0% {
 opacity: 1;
 transform: translateX(0px) rotate(0deg);
}
 100% {
 opacity: 0;
 transform: translateX(100%) rotate(120deg);
}
}
.rolandoDesaparecendo {
	-webkit-animation-name: rolandoDesaparecendo;
	animation-name: rolandoDesaparecendo;
}
.tremer {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes tremer {
 0%, 100% {
-webkit-transform: translateX(0);
}
 10%, 30%, 50%, 70%, 90% {
-webkit-transform: translateX(-10px);
}
 20%, 40%, 60%, 80% {
-webkit-transform: translateX(10px);
}
}
@keyframes tremer {
 0%, 100% {
transform: translateX(0);
}
 10%, 30%, 50%, 70%, 90% {
transform: translateX(-10px);
}
 20%, 40%, 60%, 80% {
transform: translateX(10px);
}
}
.tremer {
	-webkit-animation-name: tremer;
	animation-name: tremer;
}
.balancando {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes balancando {
 20%, 40%, 60%, 80%, 100% {
-webkit-transform-origin: top center;
}
 20% {
-webkit-transform: rotate(15deg);
}
 40% {
-webkit-transform: rotate(-10deg);
}
 60% {
-webkit-transform: rotate(5deg);
}
 80% {
-webkit-transform: rotate(-5deg);
}
 100% {
-webkit-transform: rotate(0deg);
}
}
@keyframes balancando {
 20% {
transform: rotate(15deg);
}
 40% {
transform: rotate(-10deg);
}
 60% {
transform: rotate(5deg);
}
 80% {
transform: rotate(-5deg);
}
 100% {
transform: rotate(0deg);
}
}
.balancando {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: balancando;
	animation-name: balancando;
}
.tada {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes tada {
 0% {
-webkit-transform: scale(1);
}
 10%, 20% {
-webkit-transform: scale(0.9) rotate(-3deg);
}
 30%, 50%, 70%, 90% {
-webkit-transform: scale(1.1) rotate(3deg);
}
 40%, 60%, 80% {
-webkit-transform: scale(1.1) rotate(-3deg);
}
 100% {
-webkit-transform: scale(1) rotate(0);
}
}
@keyframes tada {
 0% {
transform: scale(1);
}
 10%, 20% {
transform: scale(0.9) rotate(-3deg);
}
 30%, 50%, 70%, 90% {
transform: scale(1.1) rotate(3deg);
}
 40%, 60%, 80% {
transform: scale(1.1) rotate(-3deg);
}
 100% {
transform: scale(1) rotate(0);
}
}
.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}
.mexer {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes mexer {
 0% {
-webkit-transform: skewX(9deg);
}
 10% {
-webkit-transform: skewX(-8deg);
}
 20% {
-webkit-transform: skewX(7deg);
}
 30% {
-webkit-transform: skewX(-6deg);
}
 40% {
-webkit-transform: skewX(5deg);
}
 50% {
-webkit-transform: skewX(-4deg);
}
 60% {
-webkit-transform: skewX(3deg);
}
 70% {
-webkit-transform: skewX(-2deg);
}
 80% {
-webkit-transform: skewX(1deg);
}
 90% {
-webkit-transform: skewX(0deg);
}
 100% {
-webkit-transform: skewX(0deg);
}
}
@keyframes mexer {
 0% {
transform: skewX(9deg);
}
 10% {
transform: skewX(-8deg);
}
 20% {
transform: skewX(7deg);
}
 30% {
transform: skewX(-6deg);
}
 40% {
transform: skewX(5deg);
}
 50% {
transform: skewX(-4deg);
}
 60% {
transform: skewX(3deg);
}
 70% {
transform: skewX(-2deg);
}
 80% {
transform: skewX(1deg);
}
 90% {
transform: skewX(0deg);
}
 100% {
transform: skewX(0deg);
}
}
.mexer {
	-webkit-animation-name: mexer;
	animation-name: mexer;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
.animated.mexer {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}
.cambalear {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes cambalear {
 0% {
-webkit-transform: translateX(0%);
}
 15% {
-webkit-transform: translateX(-25%) rotate(-5deg);
}
 30% {
-webkit-transform: translateX(20%) rotate(3deg);
}
 45% {
-webkit-transform: translateX(-15%) rotate(-3deg);
}
 60% {
-webkit-transform: translateX(10%) rotate(2deg);
}
 75% {
-webkit-transform: translateX(-5%) rotate(-1deg);
}
 100% {
-webkit-transform: translateX(0%);
}
}
@keyframes cambalear {
 0% {
transform: translateX(0%);
}
 15% {
transform: translateX(-25%) rotate(-5deg);
}
 30% {
transform: translateX(20%) rotate(3deg);
}
 45% {
transform: translateX(-15%) rotate(-3deg);
}
 60% {
transform: translateX(10%) rotate(2deg);
}
 75% {
transform: translateX(-5%) rotate(-1deg);
}
 100% {
transform: translateX(0%);
}
}
.cambalear {
	-webkit-animation-name: cambalear;
	animation-name: cambalear;
}
/*BOX*/
.box-laranja {
	background-color: #f39c12;
	color: #FFF;
	padding: 15px;
}
.box-azul {
	background-color: #2980b9;
	color: #FFF;
	padding: 15px;
}
.box-azul-escuro {
	background-color: #3b5387;
	padding: 15px;
}
.box-verde {
	background-color: #27ae60;
	color: #FFF;
	padding: 15px;
}
.box-cinza {
	background-color: #ecf0f1;
	color: #3b3b3b;
	padding: 15px;
}
.box-vermelho {
	background-color: #e74c3c;
	color: #FFF;
	padding: 15px;
}
.box-branco-transparencia {
	background-color: rgba(255,255,255,0.70);
	padding: 15px;
}
.box-branco {
	background-color: #FFF;
	padding: 15px;
	;
}
.box-preto-transparencia {
	background-color: rgba(0,0,0,0.85);
	padding: 15px;
	;
	color: #FFF;
}
.box-vazado-borda-laranja {
	background-color: transparent;
	border: 2px solid #d35400;
	padding: 15px;
	;
}
.box-vazado-borda-azul {
	background-color: transparent;
	border: 2px solid #2980b9;
	padding: 15px;
	;
}
.box-vazado-borda-verde {
	background-color: transparent;
	border: 2px solid #27ae60;
	padding: 15px;
	;
}
.box-vazado-borda-cinza {
	background-color: transparent;
	border: 2px solid #95a5a6;
	padding: 15px;
	;
}
/*FIM DO BOX*/

/*BOTÃO*/

.botao-preto {
	background-color: #333;
	color: #FFF;
	padding: 10px 15px;
	text-align: center;
	width: 115px;
	margin-top: 10px;
}
.botao-cinza {
	background-color: #DFDFDF;
	color: #292929;
	padding: 10px 15px;
	text-align: center;
	width: 115px;
	margin-top: 10px;
}
/*FIM DO BOTÃO*/

/*MARGIN*/

.margin0 {
	margin: 0px;
}
.margin5 {
	margin: 5px;
}
.margin10 {
	margin: 10px;
}
.margin15 {
	margin: 15px;
}
.margin20 {
	margin: 20px;
}
.margin25 {
	margin: 25px;
}
.margin30 {
	margin: 30px;
}
/*FIM DO MARGIN*/

/*POSITIONS*/

.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
/*FIM DO POSITIONS*/

/* VIDEOS */
.popupVideo {
	position: relative;
	top: -50%;
	width: 785px;
	border-radius: 5px;
}
.fecharModal {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #900;
	color: #FFF;
	border: solid 2px #FFFFFF;
	margin: -50px -20px 0px 0px;
	box-shadow: 0px 0px 10px #333;
	font-size: 30px;
	text-align: center;
	line-height: 35px;
}
.fecharModalvideo {
	position: relative;
	top: -230px;
	right: -10px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #900;
	color: #FFF;
	border: solid 2px #FFFFFF;
	box-shadow: 0px 0px 10px #333;
	font-size: 30px;
	text-align: center;
	line-height: 35px;
}
.botVideo {
	position: relative;
	top: 40px;
	margin: 0px 10px 0px 30px;
	border: 1px solid rgba(0,0,0,1);
	padding: 15px;
	font-weight: bold;
}
.botVideo:hover {
	color: #ECEB14;
	box-shadow: inset 0px 0px 50px rgba(255,255,255,0.09);
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}
.iframe_video {
	width: 940px;
	height: 500px;
	border: 0px;
	margin: 5px auto;
}
/* FIM DOS VIDEOS */

.centralizadoVertical {/* serve para centralizado vertical codigo no js*/
}

/* Correção de Bug - 20/04/2016*/
.a_Forum {
	text-decoration: none;
}
.ref_titulo {
	padding-left: 30px;
	font-size: 24px;
	font-weight: bolder;
}
